.homepage-section {
  &_left {
    background-color: #f3eae8;
    padding: 40px 0px;

    p {
      color: #653365;
      font-size: 20px;
      font-weight: 600;
    }

    &_info {
      padding: 50px 0px;

      h4 {
        font-size: 14px;
        color: #fff;
        background-color: #9bd3a4;
        padding: 5px;
        border-radius: 20px;
        text-align: center;
        letter-spacing: 2px;
      }
      h1 {
        font-size: 72px;
        font-weight: 600;
        color: #1b1c4c;

        span {
          color: #7467fc;
          position: relative;

          &::before {
            position: absolute;
            content: "";
            background-color: #7467fc;
            width: 267px;
            height: 5px;
            left: 5px;
            top: 85px;
          }
        }
      }
      p {
        color: #857f7c;
        font-size: 18px;
        font-weight: normal;
      }
      .link {
        @keyframes moveUpDown {
          0% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(-5px);
          }
          100% {
            transform: translateY(0);
          }
        }
        animation: moveUpDown 1s infinite;

        &:hover {
          animation-play-state: paused;
        }

        a {
          text-decoration: none;
          letter-spacing: 1.4px;
          cursor: pointer;
          background-color: #77bc82;
          padding: 20px;
          color: #fff;
        }
      }
    }
  }

  &_right {
    background-color: #c388f7;
    padding: 40px 0px;

    p {
      color: #fff;
    }
    button {
      background: #653365;
      outline: none;
      border: none;
      font-size: 12px;
      width: 20%;
      margin-top: -8px;
      border-radius: 0%;
    }
  }
}
