.homepage-section-bottom {
  background-color: #f3eae8;

  &_left {
    padding: 80px 0px;

    &_header {
      h2 {
        font-size: 44px;
        color: #29284b;

        span {
          color: #8e85ea;
          position: relative;

          &::before {
            position: absolute;
            content: "";
            width: 150px;
            top: 55px;
            left: 5px;
            height: 4px;
            background-color: #8e85ea;
          }
        }
      }
    }

    &_stackedimages {
      position: relative;

      &::after {
        content: "50+";
        text-align: center;
        line-height: 50px;
        color: #fff;
        background-color: #29284b;
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-left: -15px;
      }
      img {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: -15px;
      }
      img:first-child {
        margin-left: 0px;
      }
    }
  }
  &_right {
    margin-left: -12px;
    &_right-1 {
      position: relative;
      p {
        position: absolute;
        top: 0px;
      }
      img {
        width: 85%;
        height: 85%;
        object-fit: cover;
      }
    }
    &_right-2 {
      position: relative;
      p {
        position: absolute;
        top: 0px;
      }
      img {
        width: 85%;
        height: 85%;
        object-fit: cover;
      }
    }
  }
}
